html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'PNr', sans-serif;
    font-size: 16px;
    color: #000;    
}

.header,
.footer,
.main_set,
.main_questions{
  color: #fff;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.btn{
  font-family: 'PNb', sans-serif;
  font-size: 15px;
  background-color: $yellow;
  width: 170px;
  height: 45px;
  border: none;
  border-radius: 45px;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: $yelHover;
  }
}

.header-top,
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__logo{
    position: relative;
    &::after{
      content: '';
      width: 1px;
      height: 68px;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: -30px;
    }
  }
  &__text{
    flex-grow: 1;
    margin-left: 60px;
  }
  &__contact{
    margin-right: 30px;
    ._gis-phone-highlight-phone-wrap{
      border: none;
    }
  }
}

.main{
  &-title{
    position: relative;
    h2{
      font-family: 'PNsb', sans-serif;
      font-size: 26px;
      text-transform: uppercase;
      text-align: center;
      margin: 80px 0 24px;
      &::after{
        content: "";
        position: absolute;
        width: 48px;
        height: 1px;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(to right, #1c8fd4, #7e66e7);
      } 
    }
       
  }
}

.form{
  &__name{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding-left: 50px;
    font-family: 'PNl', sans-serif;
    font-size: 14px;
    border: none;
    background-image: url(../img/user_icon.png);
    background-repeat: no-repeat;
    background-position: 6% 50%;
  }
  &__tell{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding-left: 50px;
    font-family: 'PNl', sans-serif;
    font-size: 14px;    
    border: none;
    background-image: url(../img/phone_icon.png);
    background-repeat: no-repeat;
    background-position: 6% 50%;
  }
  &__submit{
    font-family: 'PNb', sans-serif;
    font-size: 15px;
    background-color: $yellow;
    width: 210px;
    height: 55px;
    border: none;
    border-radius: 45px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: $yelHover;
    }
  }
}

// ul,
// li{
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }



// .headLine-left{
//     font-size: 22px;
//     line-height: 32px;  
//     letter-spacing: 7.33333px;    
//     color: #FFFFFF;
//     opacity: 0.5;
//     padding-left: 103px;
//     position: relative;
//     display: inline-block;
//     &::before{
//         content: "";
//         position: absolute;
//         width: 80px;
//         height: 1px;
//         background-color: #fff;
//         left: 0;
//         top: 50%;
//     }
// }

// .headLine-right{
//     font-size: 22px;
//     line-height: 32px;  
//     letter-spacing: 7.33333px;    
//     color: #FFFFFF;
//     opacity: 0.5;
//     padding-right: 103px;
//     position: relative;
//     display: inline-block;
//     &::before{
//         content: "";
//         position: absolute;
//         width: 80px;
//         height: 1px;
//         background-color: #fff;
//         right: 0;
//         top: 50%;
//     }
// }

// .title{
//     span{
//         font-weight: 800;
//         font-size: 200px;       
//         color: rgba(#fff, .02);
//         position: relative;
//         transform: translateX(-70px);
//         display: inline-block;
//     }
//     h3{
//         position: absolute;
//         top: 10px;
//         right: -15px;
//         margin: 0;
//         color: #fff;
//         font-size: 80px;
//         font-weight: 800;
//         &::after{
//             content: '';
//             position: absolute;
//             top: 0;
//             right: 0;
//             width: 100px;
//             height: 1px;
//             background-color: $green;
//         }
//     }
// }

// .suptitle{
//     display: inline-block;
//     text-align: right;
//     &__head{
//         font-weight: 800;
//         font-size: 40px;
//         padding-right: 10px;
//         span{
//             font-weight: 100;
//         }
//     }
// }

// .descr{
//     display: inline-block;
//     padding-left: 5px;
//     &__head{
//         font-weight: 800;
//         font-size: 40px;
//         span{
//             font-weight: 100;
//         }
//     }
// }

// .btn{
//     font-size: 40px;
//     font-weight: 800;
//     flex-shrink: 36px;
//     span{
//         display: inline-block;
//         padding: 17px 57px 15px 17px;
//         background-color: $green;
//         margin-left: 19px;
//         position: relative;
//         &::before{
//             content: '';
//             position: absolute;
//             width: 20px;
//             height: 1px;
//             background-color: #fff;
//             top: 50%;
//             left: -10px;
//         }
//         &::after{
//             content: '';
//             position: absolute;
//             width: 25px;
//             height: 21px;
//             background-image: url(../img/arrows-right.svg);
//             top: 50%;
//             right: 17px;
//             transform: translateY(-50%);
//         }
//     }
// }

// .surf,
// .holder,
// .shop{
//     padding: 160px 0 120px;
// }

// .star{
//     &-list{
//         li{
//             display: inline-block;
//             & + li{
//                 margin-left: -25px;
//             }            
//         }
//     }
// }

// .quantity {
//     display: inline-block;
//   }
  
//   input[type=number]::-webkit-inner-spin-button,
//   input[type=number]::-webkit-outer-spin-button
//   {
//     -webkit-appearance: none;
//     margin: 0;
//   }
  
//   input[type=number]
//   {
//     -moz-appearance: textfield;
//   }
  
//   .quantity input {
//     width: 45px;
//     height: 42px;
//     display: block;
//     border: none;
//     background-color: transparent;
//     font-style: 48px;
//     line-height: 36px;
//     font-weight: 800;
//     color: #fff;
//   }
  
//   .quantity input:focus {
//     outline: 0;
//   }
  
//   .quantity-nav {
//     float: left;
//     position: static;
//     height: 42px;
//   }
  
//   .quantity-button {
//     position: relative;
//     cursor: pointer;
//     width: 20px;
//     height: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     top: 45px;
//   }
  
//   .quantity-button.quantity-up {
//     position: absolute;    
//     right: 0;   
//   }
  
//   .quantity-button.quantity-down {
//     position: absolute;
//     right: 25px;
    
//   }