body {
	margin: 0;
	font-family: Tahoma, sans-serif;
	color: #000;
}
img {
	max-width: 100%;
}
button:focus {
	outline: none;
}
.header {
	padding-top: 77px;
	padding-bottom: 96px;
}
.header-text__title {
	font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
.header-text__subtitle {
	font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}
.header-text__descr {
	font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 47px;
}
.header-text__price {
	color: #313131;
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 53px;
}
.button {
	margin-bottom: 20px;
	border: 2px solid transparent;
	border-radius: 5px;
  background-color:  #f05a22;
  font-size: 24px;
  font-weight: 700;
  color:  #ffffff;
  padding: 22px 43px;
  margin-right: 40px;
}
.button-o {
	color: #f05a22;
	background-color: transparent;
	border: 2px solid #f05a22;
}
.features {
	background-color: #f2f2f2;
	padding-top: 89px;
	padding-bottom: 100px;
	text-align: center;
}
.section-title {
	margin-bottom: 91px;
	font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}
.features__img {
	min-height: 55px;
}
.features__text {
	margin-bottom: 30px;
	font-size: 18px;
  font-weight: 400;
  line-height: 22px
}
.clients {
	padding-top: 90px;
	padding-bottom: 99px;
}
.clients-block {
	margin-bottom: 40px;
}

